<p>
  <b>Type:</b>
  <%=h @user.type %>
</p>

<p>
  <b>Id:</b>
  <%=h @user.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Active:</b>
  <%=h @user.active %>
</p>

<p>
  <b>Reviews</b>
  <%=h @reviews_text %>
</p>

<%= link_to toggle_label(@user), activate_user_path %>  |
<%= link_to '>> Users', users_path %>